table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: white !important;   
    
}
tbody tr:nth-child(odd){
    background-color: lightgrey;    
  }
table thead {
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
}
td{
    font-size: 0.6em;
    padding-top: 5px;
    padding-bottom: 5px; 
    text-align: center;   
}
thead th:nth-child(1), thead th:nth-child(2), 
thead th:nth-child(3), thead th:nth-child(4) {
    text-align: center;
    width: 90px;
}
tr td:last-child {
    text-align: left;}
td div{
    font-weight: bold;
    width:100%;
}