/* You can add global styles to this file, and also import other style files */
.form-group{
    padding-top: 0.3em;
    display: flex;
    align-items: center;  
}
input:disabled{
  
    color: gray;
}
input[type ="text"]{
    height: 35px;
}
select:disabled{
  color: gray;
}
select{
    height: 37px;
    padding-top:3px !important ;
    padding-bottom:3px;
    width: 110px;
}
.section-content{
    padding: 0 0 0.5em 2em;
}
input:disabled{
    box-shadow: inset 5px 7px 9px 0 rgba(204, 204, 204,0.41);
    color: gray;
}